/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #000000;
  color: #cbc7fa54;
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
  color: #ae00ff;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #ff5e00;
  ;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #16382f;
}

header {
  position: fixed;
  border-bottom: 10px solid #c44902;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-top: 3px solid #a502f0;
  border-bottom: 10px;
  color: #ff5e00;
}

figure {

  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #a502f0;
  background-color: #ff5e00;

}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #000000;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}

input,
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #000000
}

textarea {
  vertical-align: top;
  height: 60px;
}


button {
  height: 40px;
  width: 120px;
  background-color: #16382f;
  color: #ff5e00;

}

/* Class Selectors */
.text-center {
  text-align: center;

}

.text-right {
  text-align: right;
}